@import "tailwindcss";
@import "tw-animate-css";
@import "pretendard-jp/dist/web/static/pretendard-jp.css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply m-0;
  font-family:
    "Pretendard JP",
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: oklch(1 0 0);
  --background-hover: oklch(0.94 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(79.11% 0.1272 4.9);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(75.84% 0.148 37.71);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-hover: oklch(0.52 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --shadcn-red: oklch(0.637 0.237 25.331);
  --shadcn-red-foreground: oklch(0.971 0.013 17.38);
  --shadcn-rose: oklch(0.645 0.246 16.439);
  --shadcn-rose-foreground: oklch(0.969 0.015 12.422);
  --shadcn-orange: oklch(0.705 0.213 47.604);
  --shadcn-orange-foreground: oklch(0.98 0.016 73.684);
  --shadcn-yellow: oklch(0.795 0.184 86.047);
  --shadcn-yellow-foreground: oklch(0.421 0.095 57.708);
  --shadcn-green: oklch(0.723 0.219 149.579);
  --shadcn-green-foreground: oklch(0.982 0.018 155.826);
  --shadcn-blue: oklch(0.623 0.214 259.815);
  --shadcn-blue-foreground: oklch(0.97 0.014 254.604);
  --shadcn-violet: oklch(0.606 0.25 292.717);
  --shadcn-violet-foreground: oklch(0.969 0.016 293.756);
}

.dark {
  --background: oklch(0.145 0 0);
  --background-hover: oklch(0.152 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(82.24% 0.1052 3.9);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(80.9% 0.1114 37.8);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  /* --destructive: oklch(0.396 0.141 25.723); */
  --destructive: oklch(0.5 0.23 25.331);
  --destructive-hover: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --shadcn-red: oklch(0.637 0.237 25.331);
  --shadcn-red-foreground: oklch(0.971 0.013 17.38);
  --shadcn-rose: oklch(0.645 0.246 16.439);
  --shadcn-rose-foreground: oklch(0.969 0.015 12.422);
  --shadcn-orange: oklch(0.646 0.222 41.116);
  --shadcn-orange-foreground: oklch(0.98 0.016 73.684);
  --shadcn-yellow: oklch(0.795 0.184 86.047);
  --shadcn-yellow-foreground: oklch(0.421 0.095 57.708);
  --shadcn-green: oklch(0.696 0.17 162.48);
  --shadcn-green-foreground: oklch(0.393 0.095 152.535);
  --shadcn-blue: oklch(0.546 0.245 262.881);
  --shadcn-blue-foreground: oklch(0.379 0.146 265.522);
  --shadcn-violet: oklch(0.541 0.281 293.009);
  --shadcn-violet-foreground: oklch(0.969 0.016 293.756);
}

@theme inline {
  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-shadcn-red: var(--shadcn-red);
  --color-shadcn-red-foreground: var(--shadcn-red-foreground);
  --color-shadcn-rose: var(--shadcn-rose);
  --color-shadcn-rose-foreground: var(--shadcn-rose-foreground);
  --color-shadcn-orange: var(--shadcn-orange);
  --color-shadcn-orange-foreground: var(--shadcn-orange-foreground);
  --color-shadcn-yellow: var(--shadcn-yellow);
  --color-shadcn-yellow-foreground: var(--shadcn-yellow-foreground);
  --color-shadcn-green: var(--shadcn-green);
  --color-shadcn-green-foreground: var(--shadcn-green-foreground);
  --color-shadcn-blue: var(--shadcn-blue);
  --color-shadcn-blue-foreground: var(--shadcn-blue-foreground);
  --color-shadcn-violet: var(--shadcn-violet);
  --color-shadcn-violet-foreground: var(--shadcn-violet-foreground);

  --ease-default: cubic-bezier(0.8, 0, 0.25, 0.9);
  --ease-quart-in-out: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-expo-in-out-custom: cubic-bezier(0.8, 0, 0.25, 0.9);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.os-scrollbar {
  --os-size: 8px;
  --os-handle-bg: var(--muted-foreground);
  --os-handle-bg-hover: var(--foreground);
  --os-handle-bg-active: var(--foreground);
}

@media (min-width: 768px) {
  .os-scrollbar {
    --os-size: 10px;
  }
}
